@import "tailwindcss";

@utility container{
    margin: auto;
}

@theme {
  --color-primary: #132238;
  --color-secondary: #556070;
  --color-brand: #a53dff;
  --color-light_brand: #edd8ff;
}

body {
  background-image: url(/public/linear-background.png);  
  background-repeat: no-repeat;
}

a{
  display: inline-block !important;
}

.btn_dark{
  width: fit-content;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: #a53dff;
  border-radius: 5px;
  cursor: pointer;
  transition: all linear .2s;
} 

.btn_light{
  width: fit-content;
  padding: 12px 24px;
  font-size: 22px;
  font-weight: 600;
  color: #a53dff;
  border: 1px solid #a53dff;
  border-radius: 5px;
  cursor: pointer;
  transition: all linear .2s;
}

.btn_dark:hover{
box-shadow: #a43dffaa 0px 5px, #a43dff7a 0px 10px, #a43dff41 0px 15px, #a43dff31 0px 20px, #a43dff15 0px 25px;
}

.btn_light:hover{
 background-color:#edd8ffdb ;
}

.slider_button{
  position: absolute;
  color: #fff;
  width: fit-content;
  padding: 10px;
  background-color: #b471ee;
  border-radius: 50px;
  font-size: 40px;
  cursor: pointer;
  transition: all linear .2s;
}

.slider_button:hover{
  background-color: #a53dff ;
}


.slick-dots .slick-active div {
  background-color: #132238 !important; 
  width: 30px;
  
}