@import "tailwindcss";

@utility container{
    margin: auto;

}

@theme {
  --color-primary: #132238;
  --color-secondary: #556070;
  --color-brand: #a53dff;
  --color-light_brand: #edd8ff;
}

body {
  background-image: url(/public/linear-background.png);

  background-repeat: no-repeat;
}

.btn_dark{
  width: fit-content;
padding: 12px 24px;
font-size: 20px;
font-weight: 400;
color: white;
background-color: #a53dff;
border-radius: 5px;
cursor: pointer;
} 

.btn_light{
  width: fit-content;
   padding: 12px 24px;
   font-size: 22px;
   font-weight: 600;
   color: #a53dff;
   border: 1px solid #a53dff;
   border-radius: 5px;
   cursor: pointer;
}
